.blue{background-color: blue}
.green{background-color: green}
.red{background-color: red}
.violet{background-color: violet}
.indigo{background-color: indigo}
.lightblue{background-color: lightblue}
.lightgreen{background-color: lightgreen}
.pink{background-color: pink}
.wheat{background-color: wheat}
.white{background-color: white}
.gray{background-color: gray}
.black{background-color: black}


.ic-orange{
  color:orange;
  size:20px;
}

.kg_call{
  font-size: 20px;
  padding-left: 20px
}
.kg_call a{
  font-size: 14px;
  display: block;
}
body { padding-top: 70px; }



